<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mnopi.scandaloh_escandalo_humor_denuncia_social"
    android:versionCode="9"
    android:versionName="2.2.5" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.mnopi.scandaloh_escandalo_humor_denuncia_social.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mnopi.scandaloh_escandalo_humor_denuncia_social.permission.C2D_MESSAGE" />

    <application
        android:name="com.bizeu.escandaloh.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icono_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.app" >
        <activity
            android:name="com.bizeu.escandaloh.CoverActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.CreateScandalohActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.PhotoDetailActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.DetailCommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.users.LoginSelectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="scandaloh"
                    android:scheme="twitter" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.users.RegistrationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.users.LoginScandalohActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.facebook.LoginActivity" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.users.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.users.CropActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.settings.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.notifications.NotificationsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.ScandalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.users.FollowersActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.SearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.users.ProfileSettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.users.ProfilePhotoActivity" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.CommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.bizeu.escandaloh.BrowserNewsActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service android:name="com.zed.usagetrackingclient.services.UsageTrackingService" >
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <!-- Push notifications con Parse -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.mnopi.scandaloh_escandalo_humor_denuncia_social" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.bizeu.escandaloh.notifications.PushReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="alex_action" /> 
            </intent-filter>
        </receiver>
    </application>

</manifest>